<footer class="models2018-footer" role="contentinfo">
  <hr />
  <div class="container">
    <div class="row">
      <p class="lead text-center">Gold Sponsors</p>
      <div class="col-xs-12">
        <a href="https://www.jetbrains.com/" class="thumbnail" style="border:0px;"><img style="height: 200px;" src="/assets/logos/jetbrains.png" alt="Jet Brains"/></a>
      </div>
    </div>

    <div class="row">
      <p class="lead text-center">Silver Sponsors</p>
      <div class="col-xs-12">
        <a href="https://www.eclipse.org/papyrus/" class="thumbnail" style="border:0px;"><img style="height: 200px;" src="/assets/logos/PAPYRUS-IC.png" alt="Papyrus IC"/></a>
      </div>
    </div>
   
    <div class="row">
      <p class="lead text-center">Supporters</p>
      <div class="col-xs-6">
        <a href="http://www.sigsoft.org/index.html" class="thumbnail" style="border:0px;"><img style="height: 150px;" src="/assets/logos/sigsoft.png" alt="SIGSOFT"/></a>
      </div>
      <div class="col-xs-6">
        <a href="https://www.computer.org" class="thumbnail" style="border:0px;"><img style="max-height: 150px; height: auto;" src="/assets/logos/computer_society.png" alt="Papyrus IC"/></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <a href="https://www.acm.org/" class="thumbnail" style="border:0px;"><img style="height: 150px;" src="/assets/logos/acm.png" alt="ACM"/></a>
      </div>
      <div class="col-xs-6">
        <a href="https://www.ieee.org/" class="thumbnail" style="border:0px;"><img style="height: 150px;" src="/assets/logos/ieee.png" alt="Papyrus IC"/></a>
      </div>
    </div>
    
    <div class="row">
      <p class="lead text-center">Patrons</p>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a href="http://itu.dk" class="thumbnail" style="border:0px"><img src="/assets/logos/ITU_logo_UK.png" alt="IT University of Copenhagen"/></a>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script> -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- <script src="https://cdn.ncsu.edu/brand-assets/bootstrap/js/bootstrap.min.js"></script> -->


