<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="/">MODELS2018</a> -->
          <a href="/"><img class="logo" src="/assets/logos/models-logo_800x246.png" alt="models2018-logo" /></a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Registration</a></li>
            <li><a href="#">Program</a></li>
            <!-- <li><a href="cfp.html">Call for Papers</a> -->
           
             <li class="dropdown">
              <a href="cfp.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-delay="50" data-close-others="false">Call for Papers <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/call">Call</a></li>
                <li><a href="/call#foundations-track-papers">Foundations Track</a></li>
                <li><a href="/call#practice-and-innovation-track">Practice and Innovation Track</a></li>
                <li><a href="/call#submission-and-evaluation-process">Submission and Evaluation</a></li>
                <li><a href="/call#important-dates">Important Dates</a></li>
                <!-- <li><a href="#">Steering Committee</a></li> -->

              </ul>
            </li>
           <li><a href="/workshop-tutorials">Call for Workshops &amp; Tutorials</a></li>
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-delay="50" data-close-others="false">Team <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="/team/organizing-committee">Organizing Committee</a></li>
                  <!-- <li><a href="/team/program-committee">Program Committee</a></li> -->
                  <li><a href="/team/steering-committee">Steering Committee</a></li>
                  <li><a href="/team/program-board-committee">Program Board Committee</a></li>

              </ul>
           </li>
           <li><a href="/past-editions">Past Editions</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
