<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="/">MODELS2018</a> -->
          <a href="/"><img class="logo" src="/assets/logos/models-logo_800x246.png" alt="models2018-logo" /></a>

        </div>

<!-- <div class="col-sm-4 col-sm-offset-2 m-b">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-submenu>
        Calls <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li><a tabindex="0" href="/important-dates">Important Dates</a></li>
        
        <li class="dropdown-submenu">
        <a tabindex="0">Call for Papers</a>

        <ul class="dropdown-menu">
          <li><a tabindex="0" href="/call#foundations-track-papers">Foundations Track</a></li>
           <li><a tabindex="0" href="/call#practice-and-innovation-track">Practice and Innovation Track</a></li>

        <li><a tabindex="0" href="/call#submission-and-evaluation-process">Submission and Evaluation Process</a></li>

        </ul>
        </li>
          
      </ul>

    </div>
  </div>
 -->

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Registration</a></li>
            <li class="dropdown">

              <a href="" class="dropdown-toggle" role="button" data-toggle="dropdown" data-submenu>Program<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a tabindex="0" href="/program/keynotes">Keynote Speakers</a></li>
              </ul>
            </li>

            <!-- <li><a href="cfp.html">Call for Papers</a> -->
           
            <li class="dropdown">
              <a href="" class="dropdown-toggle" role="button" data-toggle="dropdown" data-submenu>Calls <span class="caret"></span></a>
              <ul class="dropdown-menu">
                
                <li><a tabindex="0" href="/calls/important-dates">Important Dates</a></li>
                <li class="dropdown-submenu">
                  <a tabindex="0" >Call for Papers</a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="0" href="/calls/call">Full Call</a></li>
                    <li><a tabindex="0" href="/calls/call#foundations-track-papers">Foundations Track</a></li>
                    <li><a tabindex="0" href="/calls/call#practice-and-innovation-track">Practice and Innovation Track</a></li>
                    <li><a tabindex="0" href="/calls/call#submission-and-evaluation-process">Submission and Evaluation Process</a></li>
                  </ul>
                </li>
                <li><a href="/calls/workshops">Workshops</a></li>
                <li><a href="/calls/tutorials">Tutorials</a></li>
                <li><a href="/calls/tools-and-demos">Tools and Demonstrations</a></li>
                <li><a href="/calls/artifact-evaluation">Artifact Evaluation</a></li>
                <li><a href="/calls/acm-src">ACM Student Research Competition</a></li>
                <li><a href="/calls/doctoral-symposium">Doctoral Symposium</a></li>
                <li><a href="http://www.edusymp.org/2018/" target="_blank">Educators Symposium</a></li>
                <li><a href="/calls/posters">Posters</a></li>
              </ul>
            </li>

           <li class="dropdown">
              <a href="" class="dropdown-toggle" role="button" data-toggle="dropdown" data-submenu>Team<span class="caret"></span></a>
              <ul class="dropdown-menu">
                
                <li><a tabindex="0" href="/team/organizing-committee">Organizing Committee</a></li>
                <li class="dropdown-submenu">
                  <a tabindex="0" >Program Committee</a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="0" href="/team/program-committee#foundations">Foundations Track</a></li>
                    <li><a tabindex="0" href="/team/program-committee#practice">Practice and Innovation Track</a></li>
                  </ul>
                </li>
                <li><a tabindex="0" href="/team/program-board">Program Board</a></li>
                <li><a tabindex="0" href="/team/steering-committee">Steering Committee</a></li>
              </ul>
            </li>
           
           <li><a href="/past-editions">Past Editions</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
